﻿/// OCTAGON
.octagonWrap {
    width:500px;
    height:500px;
    /*float: left;*/
    position: relative;
    overflow: hidden;
    margin: auto;
}
.octagon {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    transform: rotate(45deg);
    background-image: url(/media/home-foursquare.jpg)
}
.octagon:before {
    position: absolute;
    /* There needs to be a negative value here to cancel
     * out the width of the border. It's currently -3px,
     * but if the border were 5px, then it'd be -5px.
     */
    top: -3px; right: -3px; bottom: -3px; left: -3px;
    transform: rotate(45deg);
    content: '';
    border: inherit;
}
/// OCTAGON END