
@{
    ViewBag.Title = "Index";
}
<section class="col-xs-12 text-center">
    <div class="sec-footprint">
        <h1>Prøv vores CO2 beregner</h1>
        <div class="octagonWrap octagonWrap-Co2 text-center">
            <div class="octagon">
            </div>
            <a class="a-one" href="/Co2/Apparat">Beregn <br />enkelte apperater</a>
            <a class="a-two" href="/Co2/ElVand">Beregn <br />El & Vand</a>
            <a class="a-three" href="/Co2/Co2">Beregn <br /> CO2 Aftryk 3</a>
            <a class="a-four" href="/Co2/Total">Total <br />beregneren</a>
        </div>
    </div>
</section>